@import url("./flexbox.css");
@import url("./common.css");

:root {
  --theme-color: #308D46;
  --theme-light-color: whiteSmoke;
  --theme-offset-color: #308d462d;
  --theme-dark-color: #564a4a;

  --grey-900: #dadada;

  --color-white: white;
  --color-black: black;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* Sidebar Container */
.sidebar-container {
  min-height: 100vh;
  position: fixed;
  width: 17.5%;
  background-color: var(--theme-light-color);
  box-shadow: 1px 0px 5px 0px #dfdfdf;
}

.sidebar-container__brand {
  background-color: var(--theme-color);
  color: var(--color-white);
  font-weight: 500;
  text-align: center;
  padding: 16px;
  font-size: 20px;
  letter-spacing: 0.025em;
}

.sidebar-container__list ul {
  list-style: none;
  padding-left: 0;
}

.sidebar-container__list ul li {
  padding: 8px;
}

.sidebar-container__list ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 6px;
  background-color: var(--theme-offset-color);
}

.sidebar-container__list ul li a span:first-child {
  color: var(--color-black);
}

.sidebar-container__list ul li a span:last-child {
  color: var(--color-black);
  padding-left: 20px;
}

.sidebar-container__list ul li a.active {
  background-color: var(--theme-color);
  color: var(--color-white);
}

.sidebar-container__list ul li a.active span {
  color: inherit;
}

.layout-container {
  position: relative;
  margin-left: 17.5%;
  width: 100%;
}

.layout-container__wrapper {
  position: relative;
  margin: 16px 0;
  padding: 20px 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
  min-height: 400px;
}

.layout-container__wrapper hr {
  opacity: 0.25;
}

.layout-container__expenses ul {
  padding-left: 0;
}

.layout-container__expenses ul li {
  padding: 12px 16px;
  background-color: var(--grey-900);
  margin-bottom: 20px;
  border-radius: 6px;
}

.layout-container__expenses ul li .title {
  color: var(--color-black);
  align-self: center;
  font-weight: 500;
  padding: 0 10px;
}

.layout-container__expenses ul li .date,
.layout-container__expenses ul li .pill {
  background-color: var(--theme-dark-color);
  padding: 8px 16px;
  border: 1px solid var(--color-white);
  font-size: 14px;
  border-radius: 6px;
  color: var(--color-white);
  line-height: 1.67;
}

.layout-container__expenses ul li .date .day {
  font-size: 20px;
}

.layout-container__expenses ul li .pill {
  align-self: center;
  background-color: var(--theme-color);
  margin-right: 10px;
}

.layout-container__expenses ul li .material-icons {
  font-size: 20px;
  cursor: pointer;
  padding: 0 4px;
}

.layout-container__expenses ul li .material-icons.edit {
  color: var(--theme-dark-color);
}

.layout-container__expenses ul li .material-icons.delete {
  color: rgb(136, 0, 0);
}